<ion-toolbar color="primary">
  <ion-title> {{alerte._protegeId | uppercase}} </ion-title>
  <ion-buttons slot="end">
    <ion-button [routerLink]="['./']">
      <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['./']">
      <ion-icon size="small" slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>

</ion-toolbar>
<ion-content>
  <h2>Mes alertes</h2>
  <ion-list>
    <ion-item *ngFor="let valeur of listeAlertes">
      <ion-label>{{valeur._message}}</ion-label>
      <ion-button [routerLink]="['./']">
        <ion-icon size="small" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>