<ion-content>
    <ion-item style="cursor: pointer;margin-top:100px;" (click)="onpickupClick()">
        <ion-icon slot="start" name="locate"></ion-icon>
        <ion-label position="stacked">Géolocalisation</ion-label>
        <ion-textarea style="margin-top:20px;">{{pickupLocation}}</ion-textarea>
    </ion-item>


    <ion-item>
        <ion-label>Mes groupes</ion-label>
        <ion-select placeholder="Choisir" cancel-text="Annuler" ok-text="OK">
            <ion-select-option *ngFor="let valeur of listeGroupes" [value]="valeur._titre"> {{valeur._titre}}
            </ion-select-option>

        </ion-select>
    </ion-item>

    <ion-button id="play_button" color="danger" (click)="showConfirm()">Message SOS</ion-button>
</ion-content>