//.getstart {

   //background-image: url('../assets/images/fond.PNG');
    // background: url('../assets/images/fond.PNG');
   // --background : url('../assets/images/fond.PNG') no-repeat 100% 100%;
    //background-repeat: no-repeat;
    //background-size:cover;
 // }

 .contentt{
  //  --background:url('../assets/images/fond.PNG');

   //--ion-background-color:#ff0 ;
 }
 .logo{
    display: block;
    margin-left: auto;
    margin-right: auto
 }

