<ion-content>
    <app-form-groupe *ngIf="!_isShow"></app-form-groupe>

    <ion-toolbar color="primary">
        <div>
            <ion-title>Mes groupes</ion-title>
            <ion-buttons slot="end">
                <ion-button [routerLink]="['./ajouter']" (click)="show()">
                    <ion-icon slot="icon-only" name="add"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
    </ion-toolbar>

    <div>
        <ion-searchbar animated placeholder="Recherche" showCancelButton="focus" cancelButtonText="Ignorer"
            [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()">
        </ion-searchbar>
        <ion-list *ngIf="listeGroupes.length > 0">
            <ion-item *ngFor="let valeur of listeGroupes">
                <ion-label>
                    {{valeur._titre}}
                </ion-label>
                <ion-buttons slot="end">
                    <ion-button [routerLink]="['./afficher/',valeur._id]">
                        <ion-icon size="small" slot="icon-only" name="eye"></ion-icon>
                    </ion-button>

                    <ion-button [routerLink]="['./']">
                        <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
                    </ion-button>
                    <ion-button [routerLink]="['./']" (click)="supprimer(valeur)">
                        <ion-icon size="small" slot="icon-only" name="close"></ion-icon>
                    </ion-button>
                </ion-buttons>

            </ion-item>
        </ion-list>

    </div>

</ion-content>