<div>
  <ion-toolbar color="primary">
    <div>
      <ion-title align-center>Mes Protégés</ion-title>
    </div>
  </ion-toolbar>
  <form (ngSubmit)="ajouter()">
    <ion-item>
      <label for="field-tel">Numero de téléphone:</label>
      <ion-input type="text" id="field-tel" name="groupe.tel" [(ngModel)]="pDto.tel"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row flex-wrap="nowrap" align-items="flex-start" justify-content="end">
        <ion-col>
          <ion-button class="ion-float-right" size="default" type="reset" value="Reset" color="danger">Annuler
          </ion-button>
          <ion-button class="ion-float-right" size="default" type="submit" color="success">Ajouter</ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>

  </form>


</div>