<div>
  <ion-toolbar color="primary">
    <div>
      <ion-title>Mes protégés</ion-title>
    </div>
  </ion-toolbar>

  <form (ngSubmit)="ajouter()">
    <ion-item>
      <label for="field-tel">Numero de téléphone:</label>
      <ion-input type="text" id="field-tel" name="groupe.tel" [(ngModel)]="pDto.tel"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button float-right size="default" type="reset" (click)="onReset()" color="danger">Annuler
          </ion-button>
          <ion-button float-right size="default" type="submit" color="success">Ajouter</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


</div>